.contact-container {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin: 5% 5%;
  text-align: center;
  border-radius: 15px;
  color: $my-blue;
  p, a {
    text-decoration: none;
    color: $my-blue;
    &:hover {
      text-decoration: none;
      color: $my-green;
    }
  }
}
.picto-contact {
  font-size: 40px;
  padding: 10px;
}
.formulaire {
  margin-bottom: 25px;
}

