---
title: Olli-b Environnement - Le traitement des déchets dangereux et non dangereux.
title_seo: "Traitement des décchets banals et dangereux"
description: "Si vous cherchez une solution pour le traitement de vos déchets industriels banals et vos déchets industriels dangereux, Olli-B Environnement a la solution."
---
<div class="metier-container">
  <div class="banner-metier" style="background-image: linear-gradient(-250deg, rgba(117, 117, 117, 0.6) 0%, rgba(19, 19, 19, 0.6) 50%), url(<%= image_path 'olli-b-déchets-dangereux.jpg'%>);">

    <div id="dechets-content">
      <h1>
       Traitement des déchets industriels banals et dangereux
     </h1>
    </div>
  </div>
  <div class="dechets-text">
    <h2>Les déchets non dangereux</h2>
      <p>
        <strong>Les déchets non dangereux</strong> sont les déchets qui ne présentent aucun propriété dangereuse selon l'article R.541-8 du Code de l'Environnement.
        </br>
        Il s'agit plus précisément de :
      </p>
      <ul>
        <li>Déchets industriels banals (D.I.B)</li>
        <li>Ordures ménagères résiduelles</li>
        <li>Déchets verts</li>
        <li>Ecombrants, bois, verre, plastiques, papier, cartons</li>
        <li>Déchets verts</li>
        <li>Déchets minéraux</li>
      </ul>

    <h2>Les déchets industriels dangereux</h2>
      <p>
        <strong>Les déchets industriels dangereux</strong> (D.I.D) correspondent à une catégorie de déchets qui représente un danger pour l'homme et/ou l'environnement.
        </br>
        Il en existe plusieurs catégories, provenant des activités de l'industrie lourde ou du fonctionnement des installations :
      </p>
      <ul>
        <li>Déchets organiques : solvantes, hydrocarbures, boues d'épurations ou de curage de lagune, égouts industriels, décehts hospitaliers, etc...</li>
        <li>Déchets minéraux solides : amiante, endres, poussières, etc...</li>
        <li>Déchets minéraux liquides et semi-liquides : acides, bains de traitement de surface, etc...</li>
      </ul>
      </br>
      <p align="center">Vous souhaitez obtenir un devis ou enlèvement de vos déchets</p>
    <div align=center>
      <%= link_to "Contactez-nous", "contact.html", class: "btn btn-primary btn-contact" %>
    </div>
  </div>
</div>
