---
title: Olli-b Environnement - La valorisation en cimenterie des combustibles de substitution.
title_seo: "Valorisation en cimenterie des combustibles de substitution"
description: "Nous collectons et valorisons vos décehts pour alimenter les cimenterie et ainsi contribuer à la préservation de l'environnement et des énergies fossiles."
---
<div class="metier-container">
  <div class="banner-metier" style="background-image: linear-gradient(-250deg, rgba(117, 117, 117, 0.6) 0%, rgba(19, 19, 19, 0.6) 50%), url(<%= image_path 'olli-b-cimenterie.png'%>);">


    <div id="dechets-content">
      <h1>
       Valorisation en cimenterie
     </h1>
    </div>
  </div>
  <div class="dechets-text">
    <h2>Les combustibles de substitution</h2>
      <p>blabla</p>
  </div>
</div>
