---
title: Olli-b Environnement - Le traitement des déchets dangereux et non dangereux.
title_seo: "Traitement des décchets banals et dangereux"
description: "Si vous cherchez une solution pour le traitement de vos déchets industriels banals et vos déchets industriels dangereux, Olli-B Environnement a la solution."
---
<div class="metier-container">
  <div class="banner-metier" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'banner.jpg'%>);">

    <div id="dechets-content">
      <h1>
       Traitement des déchets industriels banals et dangereux
     </h1>
    </div>
  </div>
  <div class="dechets-text">
    <h2>Les déchets industriels banals</h2>
      <p>blabla</p>
    <h2>Les déchets industriels dangereux</h2>
      <p>blabla</p>
  </div>
</div>
