---
title: Olli-b Environnement - Assainissement de friches industrielles.
title_seo: "Assainissement de friches industrielles"
description: "Vous avez un site a traiter entièrement ou laissé à l'abandon ? Nous prenons totalement en charge la dépollution du site tout types de déchets confondus."
---
<div class="metier-container">
  <div class="banner-metier" style="background-image: linear-gradient(-250deg, rgba(117, 117, 117, 0.6) 0%, rgba(19, 19, 19, 0.6) 50%), url(<%= image_path 'ollib-friche-industrielle.png'%>);">

    <div id="dechets-content">
      <h1>
       Assainissement de friches industrielles
     </h1>
    </div>
  </div>
  <div class="dechets-text">
    <h2>Friches industrielles</h2>
      <p>blabla</p>
  </div>
</div>
