---
title: Olli-b Environnement - Les déchets, notre métier.
title_seo: "Olli-b Environnement : Les déchets, notre métier"
description: "Olli-B grâce à son indépendance, permet de proposer à l’ensemble des industrielles des filières de traitement ou de valorisation agrées les plus compétitives, tout en offrant une prestation globale pour la recherche de ces filières."
---

<div class="about-container">
  <div class="about-content">
    <h1>Les déchets, notre métier</h1>
    <p>
      Olli-B grâce à son indépendance, permet de proposer à l’ensemble des industrielles des filières de traitement ou de valorisation agrées les plus compétitives, tout en offrant une prestation globale pour la recherche de ces filières.
    </p>

    <div class="card-metier-container">
      <div class="col-xs-12 col-md-4 metier-card">
        <h2>Collecte et traitement de déchets</h2>
        <p>image eaux souillées</p>
        <p>
          La collecte de déchets est large et concerne tout types de déchets classiques ou toxiques. Nous procédons à l’enlèvement d’eaux souillées, de boues, de gateaux de filtres presse, de bout de lagune ainsi que de tout types d’acides et bases La collecte se fait directement chez vous par camions citerne ou par benne selon la nature des déchets et leur conditionnement : vrac ou conditionnés. Quelque soit la nature et l ‘état de vos déchets, nous trouverons une solution innovante adaptée à vos besoins.
        </p>
      </div>
      <div class="col-xs-12 col-md-4 metier-card">
        <h2>Valorisation en cimentrie de combustibles de substitution</h2>
        <p>image</p>
        <p></p>
      </div>
      <div class="col-xs-12 col-md-4 metier-card">
        <h2>Assainissement de friche industrielle</h2>
      </div>
    </div>

  </div>
</div>
