---
title: Olli-b Environnement - Les déchets, notre métier.
title_seo: "Olli-b Environnement : Les déchets, notre métier"
description: "Olli-B grâce à son indépendance, permet de proposer à l’ensemble des industrielles des filières de traitement ou de valorisation agrées les plus compétitives, tout en offrant une prestation globale pour la recherche de ces filières."
---

<div class="metier-container">
  <div class="metier-content">
    <h1>Les déchets, notre métier</h1>
    <p>Olli-B grâce à son indépendance et ses 25 années d'expérience, permet de proposer à l'ensemble des industriels, des filières de traitement ou de valorisation agrées les plus compétitives. Le tout en offrant une prestation globale pour la recherche de ces filières.</p>
  </div>

  <div class="row metier-card-container">
    <div class="col-xs-12 col-md-4 ">
      <div class="col-xs-12 metier-card" align="center">
        <h2>Collecte et traitement de déchets</h2>
          <%= image_tag "olli-b-déchets-dangereux.jpg", id: "img-metier" %>
        <p>
          La collecte de déchets est large et concerne tout types de déchets classiques ou toxiques. Nous procédons à l’enlèvement d’eaux souillées, de boues, de gateaux de filtres presse, de bout de lagune ainsi que de tout types d’acides et bases La collecte se fait directement chez vous par camions citerne ou par benne selon la nature des déchets et leur conditionnement : vrac ou conditionnés. Quelque soit la nature et l ‘état de vos déchets, nous trouverons une solution innovante adaptée à vos besoins.
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="col-xs-12 metier-card" align="center">
        <h2>Valorisation en cimenterie de combustibles de substitution</h2>
          <%= image_tag "olli-b-cimenterie.png", id: "img-metier" %>
          <ul>
            <li> Collecte de semences traitées </li>
            <li> Poudre de polyuréthane </li>
            <li> Plastiques </li>
            <li> Charbons actifs </li>
            <li> Produit a fort PCi </li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 col-md-4">
        <div class="col-xs-12 metier-card" align="center">
        <h2>Assainissement de friche industrielle</h2>
          <%= image_tag "ollib-friche-industrielle.png", id: "img-metier" %>
        <p>Vous avez un site a traiter entièrement ou laissé à l'abandon ?
        Nous prenons totalement en charge la dépollution du site tout types de déchets confudus y compris les déchets toxiques, le démentellement, la pollution des sols, le désiamiantage éventuel, le curage des bâtiments, etc...</p>
        </div>
      </div>
    </div>
</div>
