---
title: Olli-b Environnement - Qui sommes-nous ?
title_seo: "Olli-b Environnement : le partenaire de traitement des déchets"
description: "Olli-B grâce à son indépendance, permet de proposer à l’ensemble des industrielles des filières de traitement ou de valorisation agrées les plus compétitives, tout en offrant une prestation globale pour la recherche de ces filières."
---

<div class="about-container">
  <div class="about-content">
    <h1>Qui sommes-nous ?</h1>
    <p>
      Olli-B Environnement est une société indépendante qui bénéficie de plus de 25 ans d'expérience dans le domaine du traitement de déchets.
    </p>
    <p>
      Notre offre est plus compétitive car elle est innovante et adaptée à chacun de nos clients.

      <ul>Vous pourriez avoir besoin de noous pour le traitement ou la valorisation :

        <li>Des déchets liquides ou solides : polluants – toxiques – corrosifs</li>
        <li>En petite moyenne ou grande quantité</li>
        <li>En vrac ou conditionnées (fûts, bidons IBC)</li>
      </ul>
    </p>
  </div>
</div>
